body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 0;
  text-align: center;
  background: #ffffff;
  overflow-x: hidden;
}
.alignment {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
.cog {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  margin: 0.1em;
}
.cog.reverse {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cog > .wheel {
  border-radius: 50%;
  box-sizing: border-box;
  border: 0.1em solid #242529;
  width: calc(100%);
  height: calc(100%);
  position: relative;
  top: 0;
  left: 0;
  background: transparent;
}
.cog > .teeth {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 0.25em;
  transform-style: preserve-3d;
  perspective-origin: 50% 50%;
  -webkit-animation: cog-spin 16s infinite linear;
  -moz-animation: cog-spin 16s infinite linear;
  -ms-animation: cog-spin 16s infinite linear;
  -o-animation: cog-spin 16s infinite linear;
  animation: cog-spin 16s infinite linear;
}
.cog > .teeth > .tooth {
  width: 0.13333333em;
  height: 0.2em;
  transform-origin: 50% 50%;
  position: absolute;
  left: calc(50% -  0.06666667em);
  top: calc(50% - 0.1em);
  box-sizing: border-box;
  background: #242529;
}
.cog > .teeth > .tooth:nth-child(12) {
  -webkit-transform: rotate(360deg) translateY(-0.52em) rotateX(15deg);
  -moz-transform: rotate(360deg) translateY(-0.52em) rotateX(15deg);
  -ms-transform: rotate(360deg) translateY(-0.52em) rotateX(15deg);
  -o-transform: rotate(360deg) translateY(-0.52em) rotateX(15deg);
  transform: rotate(360deg) translateY(-0.52em) rotateX(15deg);
}
.cog > .teeth > .tooth:nth-child(11) {
  -webkit-transform: rotate(330deg) translateY(-0.52em) rotateX(15deg);
  -moz-transform: rotate(330deg) translateY(-0.52em) rotateX(15deg);
  -ms-transform: rotate(330deg) translateY(-0.52em) rotateX(15deg);
  -o-transform: rotate(330deg) translateY(-0.52em) rotateX(15deg);
  transform: rotate(330deg) translateY(-0.52em) rotateX(15deg);
}
.cog > .teeth > .tooth:nth-child(10) {
  -webkit-transform: rotate(300deg) translateY(-0.52em) rotateX(15deg);
  -moz-transform: rotate(300deg) translateY(-0.52em) rotateX(15deg);
  -ms-transform: rotate(300deg) translateY(-0.52em) rotateX(15deg);
  -o-transform: rotate(300deg) translateY(-0.52em) rotateX(15deg);
  transform: rotate(300deg) translateY(-0.52em) rotateX(15deg);
}
.cog > .teeth > .tooth:nth-child(9) {
  -webkit-transform: rotate(270deg) translateY(-0.52em) rotateX(15deg);
  -moz-transform: rotate(270deg) translateY(-0.52em) rotateX(15deg);
  -ms-transform: rotate(270deg) translateY(-0.52em) rotateX(15deg);
  -o-transform: rotate(270deg) translateY(-0.52em) rotateX(15deg);
  transform: rotate(270deg) translateY(-0.52em) rotateX(15deg);
}
.cog > .teeth > .tooth:nth-child(8) {
  -webkit-transform: rotate(240deg) translateY(-0.52em) rotateX(15deg);
  -moz-transform: rotate(240deg) translateY(-0.52em) rotateX(15deg);
  -ms-transform: rotate(240deg) translateY(-0.52em) rotateX(15deg);
  -o-transform: rotate(240deg) translateY(-0.52em) rotateX(15deg);
  transform: rotate(240deg) translateY(-0.52em) rotateX(15deg);
}
.cog > .teeth > .tooth:nth-child(7) {
  -webkit-transform: rotate(210deg) translateY(-0.52em) rotateX(15deg);
  -moz-transform: rotate(210deg) translateY(-0.52em) rotateX(15deg);
  -ms-transform: rotate(210deg) translateY(-0.52em) rotateX(15deg);
  -o-transform: rotate(210deg) translateY(-0.52em) rotateX(15deg);
  transform: rotate(210deg) translateY(-0.52em) rotateX(15deg);
}
.cog > .teeth > .tooth:nth-child(6) {
  -webkit-transform: rotate(180deg) translateY(-0.52em) rotateX(15deg);
  -moz-transform: rotate(180deg) translateY(-0.52em) rotateX(15deg);
  -ms-transform: rotate(180deg) translateY(-0.52em) rotateX(15deg);
  -o-transform: rotate(180deg) translateY(-0.52em) rotateX(15deg);
  transform: rotate(180deg) translateY(-0.52em) rotateX(15deg);
}
.cog > .teeth > .tooth:nth-child(5) {
  -webkit-transform: rotate(150deg) translateY(-0.52em) rotateX(15deg);
  -moz-transform: rotate(150deg) translateY(-0.52em) rotateX(15deg);
  -ms-transform: rotate(150deg) translateY(-0.52em) rotateX(15deg);
  -o-transform: rotate(150deg) translateY(-0.52em) rotateX(15deg);
  transform: rotate(150deg) translateY(-0.52em) rotateX(15deg);
}
.cog > .teeth > .tooth:nth-child(4) {
  -webkit-transform: rotate(120deg) translateY(-0.52em) rotateX(15deg);
  -moz-transform: rotate(120deg) translateY(-0.52em) rotateX(15deg);
  -ms-transform: rotate(120deg) translateY(-0.52em) rotateX(15deg);
  -o-transform: rotate(120deg) translateY(-0.52em) rotateX(15deg);
  transform: rotate(120deg) translateY(-0.52em) rotateX(15deg);
}
.cog > .teeth > .tooth:nth-child(3) {
  -webkit-transform: rotate(90deg) translateY(-0.52em) rotateX(15deg);
  -moz-transform: rotate(90deg) translateY(-0.52em) rotateX(15deg);
  -ms-transform: rotate(90deg) translateY(-0.52em) rotateX(15deg);
  -o-transform: rotate(90deg) translateY(-0.52em) rotateX(15deg);
  transform: rotate(90deg) translateY(-0.52em) rotateX(15deg);
}
.cog > .teeth > .tooth:nth-child(2) {
  -webkit-transform: rotate(60deg) translateY(-0.52em) rotateX(15deg);
  -moz-transform: rotate(60deg) translateY(-0.52em) rotateX(15deg);
  -ms-transform: rotate(60deg) translateY(-0.52em) rotateX(15deg);
  -o-transform: rotate(60deg) translateY(-0.52em) rotateX(15deg);
  transform: rotate(60deg) translateY(-0.52em) rotateX(15deg);
}
.cog > .teeth > .tooth:nth-child(1) {
  -webkit-transform: rotate(30deg) translateY(-0.52em) rotateX(15deg);
  -moz-transform: rotate(30deg) translateY(-0.52em) rotateX(15deg);
  -ms-transform: rotate(30deg) translateY(-0.52em) rotateX(15deg);
  -o-transform: rotate(30deg) translateY(-0.52em) rotateX(15deg);
  transform: rotate(30deg) translateY(-0.52em) rotateX(15deg);
}
@-webkit-keyframes cog-spin {
  0% {
    -webkit-transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
  }
}
@-moz-keyframes cog-spin {
  0% {
    -moz-transform: rotate(0turn);
  }
  100% {
    -moz-transform: rotate(1turn);
  }
}
@-ms-keyframes cog-spin {
  0% {
    -ms-transform: rotate(0turn);
  }
  100% {
    -ms-transform: rotate(1turn);
  }
}
@-o-keyframes cog-spin {
  0% {
    -o-transform: rotate(0turn);
  }
  100% {
    -o-transform: rotate(1turn);
  }
}
@keyframes cog-spin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
#logo {
  font-size: 35vw;
  font-size: 35vmax;
  font-weight: 600;
  line-height: 0.5em;
  height: 0.5em;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: transparent;
  display: inline-block;
  vertical-align: middle;
}
#logo #m {
  font-family: Times New Roman;
  font-size: 0.815em;
  position: absolute;
  z-index: 5;
  color: #ffffff;
  top: 0;
  left: calc(75% - 0.5em);
  width: 1em;
  text-align: center;
}
#logo .cog {
  position: absolute;
  top: calc(50% - 0.6em);
  left: calc(75% - 0.6em);
  z-index: 2;
  font-size: 1.75em;
}
#logo .cog.a .wheel {
  background: #242529;
}
#logo .cog.b {
  top: calc(50% - 1.1em);
  left: calc(75% - 1.55em);
  -webkit-transform: rotateY(180deg) rotateZ(19deg);
  -moz-transform: rotateY(180deg) rotateZ(19deg);
  -ms-transform: rotateY(180deg) rotateZ(19deg);
  -o-transform: rotateY(180deg) rotateZ(19deg);
  transform: rotateY(180deg) rotateZ(19deg);
  opacity: 0.75;
}
#logo .cog.c {
  top: 0;
  left: calc(75% - 1.35em);
  z-index: 1;
  font-size: 4em;
  opacity: 0.5;
}
#logo .mask-r {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background: #242529;
}
#title {
  color: #54565f;
  width: 100%;
  font-size: 24.5vw;
  font-size: 24.5vmin;
  font-family: dorsa;
  font-weight: 200;
  text-align: left;
  line-height: 1em;
  box-sizing: border-box;
  padding: 0 0.15em;
}
#content {
  padding: 0.75em;
  font-size: 4.375vh;
  font-size: 4.375vmin;
  color: #242529;
  font-family: source-sans-pro;
  font-weight: 200;
  text-align: left;
}
#content h1 {
  margin: 0;
  font-weight: 200;
  color: #242529;
}
#content p {
  font-size: smaller;
}
#content .timestamp {
  color: #858894;
  padding-left: 1ch;
}
small.liner {
  display: block;
  color: #54565f;
}
